/*
 * SPDX-License-Identifier: MIT
 *
 * Wiring contract preserved from the Arduino quicksetup:
 * - MR60BHA2 UART RX: GPIO17
 * - MR60BHA2 UART TX: GPIO16
 * - WS2812 RGB LED: GPIO1
 * - BH1750 I2C SDA: GPIO22
 * - BH1750 I2C SCL: GPIO23
 */

#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/pinctrl/esp32c6-pinctrl.h>

/ {
	aliases {
		led-strip = &status_led_strip;
	};
};

&pinctrl {
	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_GPIO1>;
			output-low;
		};
	};
};

&uart1 {
	status = "okay";
	current-speed = <2500000>;
	data-bits = <7>;
	tx-invert;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";

	status_led_strip: ws2812-strip {
		compatible = "worldsemi,ws2812-uart";
		status = "okay";
		one-symbol = <6>;
		zero-symbol = <4>;
		bits-per-symbol = <3>;
		chain-length = <1>;
		reset-delay = <50>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
	};
};

&i2c0 {
	bh1750: bh1750@23 {
		compatible = "rohm,bh1750";
		reg = <0x23>;
		status = "okay";
	};
};
